#app {
  max-width: 1080px;
  margin: 0 auto;
}
.app-logo {
  width: 150px;
}

.nav {
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
}
.nav-link {
  color: #597592;
  border-radius: 0px !important;
}
.navbar-brand {
  width: 1080px !important;
  margin: auto !important;
}
.heading {
  margin-top: 100px;
}

