#app {
  max-width: 1080px;
  margin: 0 auto;
}
.app-logo {
  width: 150px;
}

.nav {
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
}
.nav-link {
  color: #597592;
  border-radius: 0px !important;
}
.navbar-brand {
  width: 1080px !important;
  margin: auto !important;
}
.heading {
  margin-top: 100px;
}

.table {
  margin-top: 30px;
  border: 2px solid #f0f0f0;
}

.table-head {
  background-color: #f0f0f0;
  color: #597592;
}
.campaign-date-td {
  width: 150px;
}
.campaign-name-td {
  /* display: flex; */
  /* align-items: center; */
  width: 250px;
}
td.campaign-name-td {
  display: flex;
}
.campaign-date-td p,
.campaign-name-td p {
  margin: 0px;
  font-style: italic;
  font-size: small;
  color: gray;
}
.campaign-image {
  width: 50px;
}
.campaign-name-td h6,
.campaign-date-td h6 {
  color: #597592;
  /* font-size: small; */
  font-weight: normal;
}

.action-button {
  background: none;
  border: none;
  /* margin-right: 50px; */
}

.action-image {
  width: 25px;
}

.action-name {
  font-size: smaller;
  color: gray;
  margin-left: 5px;
}

.react-responsive-modal-modal {
  position: relative !important;
  margin: auto !important;
  width: 400px !important;
  /* text-align: center; */
}
.react-responsive-modal-closeButton {
  visibility: hidden !important;
  position: relative !important;
  right: auto !important;
  top: 0 !important;
  margin: auto !important;
}
.react-responsive-modal-closeButton::after {
  visibility: visible !important;
  position: relative !important;
  right: 20px !important;
  top: 0 !important;
  margin-top: 30px !important;
  padding: 10px !important;
  content: "Close" !important;
  border: 2px solid black;
  font-weight: bold;
}

.modal-table {
  width: -webkit-fill-available;
}

.modal-image {
  width: 150px;
  box-shadow: 0 0 10px 3px lightgray;
}

.modal-header {
  border: none;
  margin-bottom: 30px;
  align-items: flex-end;
  padding: unset;
  justify-content: flex-start;
}
.modal-heading {
  font-weight: bold;
  color: darkslategray;
  margin: 15px auto;
}

.modal-tr {
  margin: 20px auto;
  width: 300px;
}

.modal-td {
  padding: 10px 0;
}

span.pricing-label {
  font-size: medium;
  color: lightslategray;
  width: 200px;
}

span.pricing-value {
  font-size: medium;
  font-weight: bold;
  color: darkslategray;
  width: 100px;
  float: right;
  text-align: right;
}

.modal-name {
  margin-left: 15px;
}
.modal-name p {
  margin: 0;
  color: lightslategray;
}
